*{
    box-sizing: border-box;
}

body {
    background-color: #232333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: #fff;
    margin: 0;
}

.container {
    perspective: 1000px;
    margin-bottom: 20px;
}

.movie-container select {
    height: 30px;
    border-radius: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 0 10px;
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 10px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);

}
.showcase {
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.showcase .seat {
    cursor: default;
}

.showcase li {
    display: flex;
    margin: 10px;
}

.showcase li small {
    margin-left: 2px;
}

.seat {
    height: 12px;
    width: 15px;
    background-color: #444451;
    margin: 2px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}

.seat.occupied {
    cursor: default;
}

.seat.selected {
    background-color: #6feaf6;
}

.container .seat:not(.occupied):hover {
    transform: scale(1.2);
    transition: all 0.5s;
}

.seat.occupied {
    background-color: #fff;
}

.container .row {
    display: flex;
}

.container .row .seat:nth-child(2) {
    margin-right: 10px;
}

.container .row .seat:nth-child(7) {
    margin-left: 10px;
}

span {
    color: #6feaf6;

}
